html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/* Header with background color*/

header {
  background-color: #44158f;
  height: 10%;
}

h1,
h2,
h3 {
  color: #44158f;
}

h3 {
  text-align: center;
}

h2.about-me {
  color: white;
}

/*mobile nav display*/

header nav {
  display: flex;
  justify-content: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 20px;
}

ul {
  margin: 0px;
  margin-block-end: 0px;
  margin-block-start: 0px;
  padding-inline-start: 0px;
}

header nav ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding-bottom: 10px;
}

header nav ul li a {
  color: rgb(28, 233, 196);
  text-decoration: none;
  padding: 10px;
}

main {
  padding-top: 10px;
}

main h1,
h2 {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-weight: 350;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

img {
  width: 100%;
}

/* groups */

.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
}

/* single spaced item*/
.item {
  flex: 1;
  padding: 20px;
  align-self: center;
}
/* double spaced item */
.item-double {
  flex: 2;
  padding: 20px;
}

/* class distinctions */

.andrew {
  border-radius: 50%;
}

.yoga-mat {
  border-radius: 5%;
}

.background {
  background: #44158f;
  color: white;
}

.portfolio {
  text-align: center;
}

.group-projects {
  padding: 10px;
}

.project-item {
  flex: 1;
  padding-bottom: 30px;
}

.project-img {
  padding-top: 20px;
}

div.link-group {
  display: flex;
  justify-content: space-around;
}

/* footer for mobile */

footer {
  height: 10%;
  background: #44158f;
  color: white;
}

footer h2 {
  text-align: center;
  padding-top: 10px;
  margin-bottom: 4px;
}

.footer-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.footer-item {
  text-decoration: none;
  font-size: 20px;
  padding: 20px;
}

/* media query 
Desktop
*/
@media all and (min-width: 900px) {
  header {
    display: flex;
    justify-content: space-between;
  }

  header nav {
    margin-top: 14px;
  }
  header ul {
    margin-top: 50px;
    font-size: 24px;
  }

  img.andrew-logo {
    max-width: 600px;
  }

  .group {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    justify-content: space-between;
  }

  div.group-projects {
    display: flex;
    flex-direction: row;

    justify-content: space-around;
  }

  div.project-item {
    flex: 1;
    max-width: 500px;
    margin-top: 20px;
  }

  div.project-img {
    text-align: center;
    width: 100%;
    margin-top: 20px;
  }

  p {
    font-size: 20px;
  }

  footer {
    color: white;

    text-align: center;
  }

  footer a {
    font-size: 20px;
  }
}

a {
  text-decoration: none;
}

a:link.project-links {
  color: #44158f;
  padding-right: 30px;
  font-weight: 300;
  font-size: 18px;
}

a:visited.project-links {
  color: #44158f;
}

a:link {
  color: rgb(66, 221, 241);
}
a:visited {
  color: rgb(0, 250, 0);
}
a:hover {
  color: lightgrey;
}
a:active {
  color: rgb(14, 146, 164);
}

.contact-form-h2 {
  text-align: center;
}

section.contact-form {
  background-color: rgb(66, 221, 241);
  padding-top: 30px;
  padding-bottom: 50px;
}

form input,
form textarea {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-bottom: 15px;
}

form textarea {
  height: 160px;
}
